In [1]:
import pandas as pd
import numpy as np

## Load Data

Open the local file data, print the first 5 rows, & display the columns

In [2]:
data_df = pd.read_csv('credit_data_track2_part_2_1.csv')
data_df.head()

,Unnamed: 0,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,...,asnm,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,accepted,gender
0,1,<0DM,6,Critical_acct_other_credits_existing,radio/television,1169.0,Unknown_or_no_savings_acct,>7yrs,4,male_single,...,193,none,own,2,skilled_employee/official,1,yes,yes,0,male
1,2,0_to_200DM,48,Existing_credits_paid_till_now,radio/television,5951.0,<100DM,1_to_4yrs,2,female_divorced/separated/married,...,424,none,own,1,skilled_employee/official,1,none,yes,1,female
2,3,None,12,Critical_acct_other_credits_existing,education,2096.0,<100DM,4_to_7yrs,2,male_single,...,73,none,own,1,unskilled_resident,2,none,yes,0,male
3,4,<0DM,42,Existing_credits_paid_till_now,furniture/equipment,7882.0,<100DM,4_to_7yrs,2,male_single,...,33,none,for_free,1,skilled_employee/official,2,none,yes,0,male
4,5,<0DM,24,Delay_in_past,new_car,4870.0,<100DM,1_to_4yrs,3,male_single,...,145,none,for_free,2,skilled_employee/official,2,none,yes,1,male

## Explore data

1. Check the data types of each columns

In [3]:
print(data_df.dtypes)

Unnamed: 0                  int64
checking_status            object
duration                    int64
credit_history             object
purpose                    object
credit_amount             float64
savings_status             object
employment                 object
installment_commitment      int64
personal_status            object
other_parties              object
residence_since             int64
property_magnitude         object
age                         int64
asnm                        int64
other_payment_plans        object
housing                    object
existing_credits            int64
job                        object
num_dependents              int64
own_telephone              object
foreign_worker             object
accepted                    int64
gender                     object
dtype: object

2. Check if there is missing data

"None" or "none" in own_telephone, other_payment_plans, other_parties, checking_status are considered as valid data

In [4]:
print("\n","Sum of null values in each feature:","\n")
print(data_df.isnull().sum())

 Sum of null values in each feature:

Unnamed: 0                0
checking_status           0
duration                  0
credit_history            0
purpose                   0
credit_amount             1
savings_status            0
employment                0
installment_commitment    0
personal_status           0
other_parties             0
residence_since           0
property_magnitude        0
age                       0
asnm                      0
other_payment_plans       0
housing                   0
existing_credits          0
job                       0
num_dependents            0
own_telephone             0
foreign_worker            0
accepted                  0
gender                    0
dtype: int64

3. Check the unique values per column

In [5]:
for ctr, i in enumerate(data_df.columns):
    if ctr == 0:
        continue
    print("\n", ctr, i,"-",data_df[i].dtype,"\n")
    unq_col = data_df[i].unique().tolist()
    
    if data_df[i].dtypes == np.float or (data_df[i].dtypes == np.int and len(unq_col) > 10):
        print ("\t Min:",data_df[i].min(),", Avg:",data_df[i].mean(),", Max:", data_df[i].max())
    else:   
        for ctr1, j in enumerate(unq_col):
            print("\t",ctr1 + 1, j)

 1 checking_status - object

	 1 <0DM
	 2 0_to_200DM
	 3 None
	 4 >200DM

 2 duration - int64

	 Min: 4 , Avg: 20.903 , Max: 72

 3 credit_history - object

	 1 Critical_acct_other_credits_existing
	 2 Existing_credits_paid_till_now
	 3 Delay_in_past
	 4 No_credits_taken_or_all_paid
	 5 All_credits_paid_duly

 4 purpose - object

	 1 radio/television
	 2 education
	 3 furniture/equipment
	 4 new_car
	 5 used_car
	 6 business
	 7 domestic_appliances
	 8 repairs
	 9 other
	 10 retraining

 5 credit_amount - float64

	 Min: 250.0 , Avg: 3273.2362362362364 , Max: 18424.0

 6 savings_status - object

	 1 Unknown_or_no_savings_acct
	 2 <100DM
	 3 500_to_1000DM
	 4 >1000DM
	 5 100_to_500DM

 7 employment - object

	 1 >7yrs
	 2 1_to_4yrs
	 3 4_to_7yrs
	 4 unemployed
	 5 <1yr

 8 installment_commitment - int64

	 1 4
	 2 2
	 3 3
	 4 1

 9 personal_status - object

	 1 male_single
	 2 female_divorced/separated/married
	 3 male_divorced/separated
	 4 male_married/widowed

 10 other_parties - object

	 1 None
	 2 guarantor
	 3 co-applicant

 11 residence_since - int64

	 1 4
	 2 2
	 3 3
	 4 1

 12 property_magnitude - object

	 1 real_estate
	 2 building_society_savings_agreement/life_insurance
	 3 unknown/no_property
	 4 car_or_other_nonsavings

 13 age - int64

	 Min: 19 , Avg: 35.515 , Max: 75

 14 asnm - int64

	 Min: 24 , Avg: 193.941 , Max: 1113

 15 other_payment_plans - object

	 1 none
	 2 bank
	 3 stores

 16 housing - object

	 1 own
	 2 for_free
	 3 rent

 17 existing_credits - int64

	 1 2
	 2 1
	 3 3
	 4 4

 18 job - object

	 1 skilled_employee/official
	 2 unskilled_resident
	 3 management_self-employed_highly_qualified/officer
	 4 unemployed/unskilled_nonresident

 19 num_dependents - int64

	 1 1
	 2 2

 20 own_telephone - object

	 1 yes
	 2 none

 21 foreign_worker - object

	 1 yes
	 2 no

 22 accepted - int64

	 1 0
	 2 1

 23 gender - object

	 1 male
	 2 female

## Data wrangling

1. Simplify the credit_history clases<br/><br/>

><strong>A. Not fully paid</strong><br/>
Critical_acct_other_credits_existing<br/>
Delay_in_past<br/><br/>

><strong>B. Fully paid</strong><br/>
No_credits_taken_or_all_paid<br/>
All_credits_paid_duly<br/>
Existing_credits_paid_till_now<br/>

2. Limit the variables needed for analysis<br/><br/>

>A. Credit history<br/>
B. Existing Credits<br/>
C. Duration<br/>
D. Purpose<br/>
E. Credit Amount<br/>
F. Employment<br/>
G. Installments<br/>
H. Job<br/>
I. Housing<br/>
J. Age<br/>
K. Num of Dependents<br/>

In [6]:
# Simplify credit history classes
data_df['credit_history'][data_df['credit_history'].isin(['Critical_acct_other_credits_existing',\
                                        'Delay_in_past'])] = "Not fully paid"
data_df['credit_history'][data_df['credit_history'].isin(['No_credits_taken_or_all_paid',\
                                        'All_credits_paid_duly',\
                                        'Existing_credits_paid_till_now'])] = "Fully paid"

/Users/rnacario/anaconda2/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/rnacario/anaconda2/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
# Limit the variables needed for analysis
data_df = data_df[['checking_status','savings_status','credit_history','existing_credits','duration','purpose',\
                   'credit_amount','employment','installment_commitment','job',\
                   'housing','age','num_dependents','accepted']]
data_df.head()

,credit_history,existing_credits,duration,purpose,credit_amount,employment,installment_commitment,job,housing,age,num_dependents,accepted
0,Not fully paid,2,6,radio/television,1169.0,>7yrs,4,skilled_employee/official,own,35,1,0
1,Fully paid,1,48,radio/television,5951.0,1_to_4yrs,2,skilled_employee/official,own,22,1,1
2,Not fully paid,1,12,education,2096.0,4_to_7yrs,2,unskilled_resident,own,49,2,0
3,Fully paid,1,42,furniture/equipment,7882.0,4_to_7yrs,2,skilled_employee/official,for_free,45,2,0
4,Not fully paid,2,24,new_car,4870.0,1_to_4yrs,3,skilled_employee/official,for_free,53,2,1

3. Transfrom categorical values to numeric

In [8]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
le.fit(["Fully paid", "Not fully paid"])
data_df['credit_history'] = le.transform(data_df['credit_history'])

In [9]:
data_df.head()

,credit_history,existing_credits,duration,purpose,credit_amount,employment,installment_commitment,job,housing,age,num_dependents,accepted
0,1,2,6,radio/television,1169.0,>7yrs,4,skilled_employee/official,own,35,1,0
1,0,1,48,radio/television,5951.0,1_to_4yrs,2,skilled_employee/official,own,22,1,1
2,1,1,12,education,2096.0,4_to_7yrs,2,unskilled_resident,own,49,2,0
3,0,1,42,furniture/equipment,7882.0,4_to_7yrs,2,skilled_employee/official,for_free,45,2,0
4,1,2,24,new_car,4870.0,1_to_4yrs,3,skilled_employee/official,for_free,53,2,1